#Training Data and Logs
models/FACT_actseg/data/
models/FACT_actseg/log/
models/FACT_actseg/log_test/
data/
data.zip

#Environment files
miniconda3/

# VSCode and Cursor files
models/FACT_actseg/src/.vscode/
models/FACT_actseg/src/.history/
models/FACT_actseg/src/.cursor/
models/FACT_actseg/src/.gitignore
models/FACT_actseg/src/.gitignore

# Cursor rules
.cursor/rules/

# Cursor history
.cursor/history/
