BU:
  a: sa
  a_dim: null
  a_ffdim: null
  a_layers: 1
  a_nhead: 8
  dropout: null
  f: null
  f_dim: null
  f_layers: 10
  f_ln: null
  f_ngp: null
  hid_dim: null
  s_layers: 1
Bi:
  a: sca
  a_dim: 256
  a_ffdim: 512
  a_layers: 6
  a_nhead: 8
  dropout: 0.0
  f: m
  f_dim: 256
  f_layers: 10
  f_ln: false
  f_ngp: 1
  hid_dim: 512
Bu:
  a: sa
  a_dim: null
  a_ffdim: null
  a_layers: 1
  a_nhead: 8
  dropout: null
  f: null
  f_dim: null
  f_layers: 10
  f_ln: null
  f_ngp: null
  hid_dim: null
FACT:
  block: iuUU
  cmr: 0.3
  fpos: false
  mwt: 0.1
  ntoken: 43
  trans: false
Loss:
  a2fc: 1.0
  bgw: 1.0
  match: o2o
  nullw: -1.0
  pc: 0.2
  sw: 5.0
TM:
  inplace: true
  m: 5
  p: 0.05
  t: 30
  use: true
aux:
  debug: false
  eval_every: 500 #was 100, then 2000, then 1000, now 500
  gpu: 0
  mark: 'view0_lh_pt_clean_eval_500'
  print_every: 50 #was 50, then 200, then 100, now 50
  resume: max
  runid: 0
batch_size: 2
clip_grad_norm: 10.0
dataset: havid_view0_lh_pt
epoch: 150
eval_bg: true
lr: 0.0001
lr_decay: 80
momentum: 0.0
optimizer: Adam
split: split1
sr: 1
weight_decay: 0.0
