BU:
  a: sa
  a_dim: null
  a_ffdim: null
  a_layers: 1
  a_nhead: 8
  dropout: null
  f: null
  f_dim: null
  f_layers: 10
  f_ln: null
  f_ngp: null
  hid_dim: null
  s_layers: 1
Bi:
  a: sca
  a_dim: 512
  a_ffdim: 512
  a_layers: 6
  a_nhead: 8
  dropout: 0.0
  f: m2
  f_dim: 512
  f_layers: 10
  f_ln: false
  f_ngp: 1
  hid_dim: 512
Bu:
  a: sa
  a_dim: null
  a_ffdim: null
  a_layers: 1
  a_nhead: 8
  dropout: null
  f: null
  f_dim: null
  f_layers: 10
  f_ln: null
  f_ngp: null
  hid_dim: null
FACT:
  block: iuUU
  cmr: 0.3
  fpos: false
  ntoken: 40  # Adjusted for HAViD primitive tasks
  trans: false
  mwt: 0.1
Loss:
  a2fc: 1.0
  bgw: 1.0
  match: o2o
  nullw: -1.0
  pc: 0.2
  sw: 5.0
TM:
  inplace: true
  m: 5
  p: 0.05
  t: 30
  use: true
aux:
  debug: false
  eval_every: 2000
  gpu: 0
  mark: "view2_lh_pt"
  print_every: 1000
  resume: max
  runid: 0
batch_size: 2  # Reduced for HAViD due to longer sequences
clip_grad_norm: 10.0
dataset: havid_view2_lh_pt
eval_bg: true
epoch: 150
lr: 0.0001
lr_decay: 80
momentum: 0.0
optimizer: Adam
split: split1
sr: 1
weight_decay: 0.0

# HAViD-specific dataset paths for view2_lh_pt variant
feature_path: "/cvhci/temp/lthomaz/models/FACT_actseg/data/HAViD/ActionSegmentation/data/features"
groundTruth_path: "/cvhci/temp/lthomaz/models/FACT_actseg/data/HAViD/ActionSegmentation/data/view2_lh_pt/groundTruth"
split_path: "/cvhci/temp/lthomaz/models/FACT_actseg/data/HAViD/ActionSegmentation/data/view2_lh_pt/splits"
map_fname: "/cvhci/temp/lthomaz/models/FACT_actseg/data/HAViD/ActionSegmentation/data/view2_lh_pt/mapping.txt"
feature_transpose: false
bg_class: 0
average_transcript_len: 0.0  # Will be computed by gen_config.py
